.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.canvas.canvas-cyberlines {
  display: flex;
    justify-content: center;
    background: #161616;
}

.canvas-cyberlines svg {
  position: absolute;
  height: 100%;
}

.canvas-cyberlines .lines {
  opacity: .05
}

.canvas-cyberlines .line {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #EBEBEB
}

.canvas-cyberlines .lights {
  opacity: 1
}

.canvas-cyberlines .light {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #EBEBEB
}